:root {
    --color-primary: #FF0000;
    --color-secondary: #FBFD51;
    --color-background: #f5f5f5;
    --color-text: #040404;
    --color-nav: #FAF4F4;
    --transp-primary: rgba(255, 0, 0, 0.5);
    
    --font-size-base: 16px;
    --font-weight-normal: 400;
    --font-weight-bold: 700;
    
    --spacing-xs: 4px;
    --spacing-sm: 8px;
    --spacing-md: 16px;
    --spacing-lg: 24px;
    --spacing-xl: 32px;
    
    --border-radius-sm: 4px;
    --border-radius-md: 8px;
    --border-radius-lg: 16px;
    
    --shadow-sm: 0 1px 3px rgba(0, 0, 0, 0.1);
    --shadow-md: 0 4px 6px rgba(0, 0, 0, 0.1);
    --shadow-lg: 0 10px 20px rgba(0, 0, 0, 0.1);


}
