:root {
    --color-primary: #FF0000;
    --color-secondary: #FBFD51;
    --color-background: #f5f5f5;
    --color-text: #040404;
    --color-nav: #FAF4F4;
    --color-muted: rgba(4, 4, 4, 0.6);
    --transp-primary: rgba(255, 0, 0, 0.5);
    
    --step--2: clamp(0.75rem, 0.5vw, 0.875rem);   /* petit texte */
    --step--1: clamp(0.875rem, 0.75vw, 1rem);     /* texte secondaire */
    --step-0: clamp(1rem, 1vw, 1.125rem);         /* texte normal (base) */
    --step-1: clamp(1.25rem, 1.5vw, 1.5rem);      /* h4, sous-titres */
    --step-2: clamp(1.5rem, 2vw, 2rem);           /* h3 */
    --step-3: clamp(2rem, 3vw, 2.5rem);           /* h2 */
    --step-4: clamp(2.5rem, 4vw, 3rem);           /* h1 */
    --step-5: clamp(2.5rem, 5vw, 4rem);             /* hero title */
    --step-velux: clamp(8rem, 12vw, 9rem);        /* Special icône Velux */
    
    /* Spacing scale (multiples de la base, fluide aussi si tu veux) */
    --space-1: clamp(0.5rem, 1vw, 1rem);          /* 8–16px */
    --space-2: clamp(1rem, 2vw, 1.5rem);          /* 16–24px */
    --space-3: clamp(1.5rem, 3vw, 2.5rem);        /* 24–40px */
    --space-4: clamp(2rem, 4vw, 3rem);            /* 32–48px */
    --space-5: clamp(3rem, 6vw, 4rem);            /* 48–64px */
    --space-6: clamp(4rem, 8vw, 8rem);
    
    
    --shadow-sm: 0 1px 3px rgba(0, 0, 0, 0.1);
    --shadow-md: 0 4px 6px rgba(0, 0, 0, 0.1);
    --shadow-lg: 0 10px 20px rgba(0, 0, 0, 0.1);

}

.intro {
    max-width: 480px;
    margin: var(--space-5) auto;
    text-align: center;

    h2 {
      font-size: var(--step-3);
      font-family: var(fontBold);
    }

    p {
        color: var(--color-muted);
    }
  }